<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      All Episodes
    </p>
    <p class="subtitle">
      Browse episode details easily
    </p>
  </div>
</section>

<section class="section">
  <button class="button is-primary" hx-post="episodes/fetch" hx-swap="beforebegin" hx-target="#recent-episodes">
    Fetch drafts
  </button>
</section>

<section class="section">
  <table class="table is-stripped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Position">ID</abbr></th>
        <th><abbr title="Cover Image">Cover</abbr></th>
        <th><abbr title="Title">Title</abbr></th>
        <th><abbr title="Status">Status</abbr></th>
        <th><abbr title="Actions">Actions</abbr></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><abbr title="Position">ID</abbr></th>
        <th><abbr title="Cover Image">Cover</abbr></th>
        <th><abbr title="Title">Title</abbr></th>
        <th><abbr title="Status">Status</abbr></th>
        <th><abbr title="Actions">Actions</abbr></th>
      </tr>
    </tfoot>
    <tbody id="recent-episodes">
      <% episodes.each do |episode| %>
        <%= render "index_row", episode: episode %>
      <% end %>
      </tbody>
    </table>

    <nav class="pagination" role="navigation" aria-label="pagination">
      <%= episodes.link_to_previous_page %>
      <%= episodes.link_to_next_page %>
    </nav>
</section>
