<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      All Episodes
    </p>
    <p class="subtitle">
      Browse episode details easily
    </p>
  </div>
</section>

<section>
  <table class="table is-stripped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Position">ID</abbr></th>
        <th>Team</th>
        <th><abbr title="Cover Image">Cover</abbr></th>
        <th><abbr title="Title">Title</abbr></th>
        <th><abbr title="Drawn">Actions</abbr></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><abbr title="Position">Pos</abbr></th>
        <th>Team</th>
        <th><abbr title="Played">Pld</abbr></th>
        <th><abbr title="Won">W</abbr></th>
      </tr>
    </tfoot>
    <tbody>
      <%- episodes.each do |episode| %>
        <tr>
          <th><%= episode.source_id %></th>
          <td><img src="<%= episode.cover[:small]%>" class="is6b9" /></td>
          <td><%= episode.title %></td>
          <td>Edit Button</td>
        </tr>
      <%- end %>
      </tbody>
    </table>
</section>
