<div class="field">
  <div class="control">
    <%= f.check_box field_name, checked_value: "true", unchecked_value: "false" %>
    <%= f.label class: "checkbox" do %>
      <%= label_text %>
    <% end %>

    <%= render("field_errors", messages: errors) if error_field? %>
  </div>
</div>
