<h1>Welcome to HanamiMastery!</h1>

<p>Consider subscribing?!</p>

<div id="parent">
  <button hx-post="/subscribe" hx-swap="outerHTML" hx-target="#parent">
    Click Me to Subscribe!
  </button>
</div>
